@font-face {
  font-family: "Playlist";
  src: url("/Playlist_Script.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.playlist-font {
  font-family: "Playlist", cursive;
}
