@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playlist";
  src: url("./assets/Playlist_Script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
